/*-- MENU POSITION ET TAILLE --*/
html.mmenu-opened,html.mmenu-opened body{
	height: 100%;
	width: 100%;
	overflow: hidden;}

html.mmenu-opened body{
	position: relative;}

.mmenu{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-top:50px;
	z-index: 0;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;}

.mmenu,.mmenu *{
	-webkit-text-size-adjust: none;
	font-size: 16px;}

	.mmenu li > a:hover{
		color: #1326C3;}

.mmenu ul,.mmenu li,.mmenu li > a,.mmenu li > span{
	display: block;
	padding: 0;
	margin: 0;}

.mmenu > ul{}

.mmenu .mmenu-hidden{
	display: none;}

html.mmenu-left .mmenu > ul > li{
	padding-right: 65px;}

html.mmenu-right .mmenu > ul > li{
	padding-left: 65px;}

html.mmenu-opened .mmenu.mmenu-opened{
	display: block;}

html.mmenu-opened .mmenu-page{
	background-color: inherit;
	min-height: 100%;
	position: absolute;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

#mmenu-blocker{
	display: none;}

html.mmenu-opened #mmenu-blocker{
	background: rgba( 255, 255, 255, 0.1 );
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;}

html.mmenu-opened .mmenu-page,html.mmenu-opened #mmenu-blocker{
	-webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
	-moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
	transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;}

html.mmenu-left.mmenu-opened .mmenu-page,html.mmenu-left.mmenu-opened #mmenu-blocker{
	margin-left: 0px;
	left: 0%;}

html.mmenu-left.mmenu-opening .mmenu-page,html.mmenu-left.mmenu-opening #mmenu-blocker{
	margin-left: -65px;
	left: 100%;}

html.mmenu-right.mmenu-opened .mmenu-page,html.mmenu-right.mmenu-opened #mmenu-blocker{
	margin-right: 0px;
	right: 0%;}

html.mmenu-right.mmenu-opening .mmenu-page,html.mmenu-right.mmenu-opening #mmenu-blocker{
	margin-right: -65px;
	right: 100%;}

/*-- STYLING MENU--*/
.mmenu{
	background: #fff;}

.mmenu li{
	border: none;
	position: relative;}

.mmenu li:first-child{
	border-top-width: 0;}

.mmenu li > a,.mmenu li > span{
	text-indent: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 5px;}

.mmenu li > a,.mmenu li > span{
	color: black;
	text-decoration: none;}

	.mmenu li > a:hover{
		color: #1326C3;}

.mmenu li.mmenu-selected > a,.mmenu li.mmenu-selected > span{
	color: #0F2E6A;}

.mmenu li.mmenu-selected > a.mmenu-subopen{
	background: transparent;}

/*-- SUBMENU CLOSE LINK --*/
.mmenu a.mmenu-subclose{
	color: #0F2E6A;
	text-indent: 40px;
	padding-top: 10px;
	margin-top: -10px;}

/*-- POSITION ET TAILLE POUR LARGE SCREEN --*/
@media all and (min-width: 500px) {
	.mmenu.mmenu-vertical{
		width: 500px;}

	html.mmenu-right .mmenu.mmenu-vertical{
		left: auto;
		right: 0;	}

	.mmenu.mmenu-horizontal{
		width: 1000px;}

	html.mmenu-right .mmenu.mmenu-horizontal{
		left: auto;
		right: -500px;}

	html.mmenu-left.mmenu-opening .mmenu-page,html.mmenu-left.mmenu-opening #mmenu-blocker{
		left: 500px;
	}

	html.mmenu-right.mmenu-opening .mmenu-page,html.mmenu-right.mmenu-opening #mmenu-blocker{
		right: 500px;	}
}
